body {
    background-size: cover;
    padding: 20px 50px;
    background-image: url(./Graphics/background.png);

   
}




.nav-bar {
    display: flex;
    justify-content: space-between;
    
}

.quick-navigation, .contact-me {
    display: none;
}

.logo, .toggle {
    font-family: "poppins", sans-serif;
    color: #fff; font-weight: 500;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.toggle {
    align-self: center;
}

.toggle img {
    width: 30px;
    height: 100%;
    fill: #fff
}

.introduction {
    margin-top: 120px;
}

.underline-quick-info {
    color: grey;
    position: relative;
    top: 30px;
    font-family: sans-serif;
    font-weight: 300;
    text-decoration-line: underline;
    transition: all 0.5s ease;
    user-select: none;
    width: fit-content;
}

.underline-quick-info:hover {
    color: #fff
}

.quick-info {
    color: #fff;
    font-family: "poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.introduction .buttons {
    display: flex;
    justify-content: space-between;
}

.contact-me-mobile, .see-projects-mobile {
    border: 3px solid #D6FF00;
    color: #D6FF00;
    width: fit-content;
    padding: 10px;
    border-radius: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    user-select: none;
    transition: all 0.5s ease;
}


.see-projects-mobile {
  margin-right: 0px;
  border-color: #fff;
  color: #fff;
  margin-right: 20px;
}

.arrow-top-right {
    width: 15px;
    height: fit-content;
    position: relative;
    top: 2px;
    margin-left: 10px;
    transition: all 1.5s ease;
    display: none;
}

.contact-me-mobile:hover {
    background-color: #D6FF00;
    color: #000;
}

.see-projects-mobile:hover img {
    display: inline;
}

.see-projects-mobile:hover {
    background-color: #fff;
    color: #000;
}

.quick-overview {
    margin-top: 100px;
}

.sum-projects {
    text-align: center;
}



.project-count, .companies-count {
    font-size: 1.75em;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    color: #fff;
}

.sum-projects h1 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    color: #D6FF00;
    font-size: 3rem;
    position: relative;
    bottom: 40px;
}

.title {
    color: #fff;
    margin-top: 100px;
    font-family: "poppins", sans-serif;
}
